/*! start Footer */
.wrap__footer {
    background-color: #333333;
}
.footer__twopart {
    display: grid;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
    padding: 55px 0 0 0;
    color: white;
    margin-top: 30px;
}
.footer__part--top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.footer__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__column:nth-child(3) {
    width: 200px;
}
.footer__logo {
    width: 100px;
    height: 100px;
    background-color: black;
}
.footer__part--bottom {
    text-align: center;
    border-top: 1px solid #414141;
    color: white;
    padding: 30px;
    margin-top: 20px;
}
