* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
    /* outline: 1px solid #a01f1f; */
}
:root {
    --main-width: 80%;
    --border-radius-small: 5px;
    --red-pure: #ff0000;

    --white-pure: #ffffff;
    --gray-soft: #eeeeee;
    --gray-solid: #6b7280;
    --black-pure: #000000;
}
.header__mainpage {
    width: 80%;
    margin: auto;
}
.header__navbar {
    position: sticky;
    top: 0;
    z-index: 8888;
    display: flex;
    height: 100px;
    padding: 10px 0;
    align-items: center;
    width: 100%;
    margin: auto;
    transition: 500ms;
    background-color: var(--white-pure);
}
.navbar__element--logo {
    width: 40%;
    margin-left: 20px;
}
.wrap__elements {
    display: flex;
    width: 60%;
    gap: 30px;
}
.navbar__element--redirect {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.navbar__element--redirect ion-icon:first-of-type {
    font-size: 25px;
}
.link__element--wrap {
    color: black;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms linear;
    font-weight: bold;
    text-transform: uppercase;
}
.link__element--wrap:hover {
    background-color: var(--gray-solid);
    color: black;
    border-radius: 5px;
}
/*! active link */
.link__active {
    border: solid;
    border-color: var(--gray-solid);
    border-width: 1px 0 1px 0;
}
#cart__project--amount {
    position: absolute;
    top: -25px;
    right: -30px;
    color: black;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--red-pure);
    display: grid;
    place-items: center;
}
