* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
    /* outline: 1px solid #a01f1f; */
}
.header__mainpage {
    width: 80%;
    margin: auto;
}
.header__navbar {
    position: sticky;
    top: 0;
    z-index: 8888;
    display: flex;
    height: 100px;
    padding: 10px 0;
    align-items: center;
    width: 80%;
    margin: auto;
    transition: 500ms;
}
.navbar__element--logo {
    width: 40%;
}
.navbar__element--logo img {
    width: 50px;
}
.wrap__elements {
    display: flex;
    width: 60%;
    gap: 30px;
}
.navbar__element--redirect {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.navbar__element--redirect ion-icon:first-of-type{
    font-size: 25px;
}
.link__element--wrap {
    color: #000000;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms linear;
    font-weight: bold;
    text-transform: uppercase;
}
.link__element--wrap:hover{
    background-color: #6B7280;
    color: white;
    border-radius: 5px;
}
/*! active link */
.link__active {
    border: solid;
    border-color: #000000;
    border-width: 1px 0 1px 0;
}
#cart__project--amount{
    position: absolute;
    left: 5px;
    top: -10px;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #e20000;
    display: grid;
    place-items: center;
}