.wrap__ourprojects {
    width: 80%;
    margin: auto;
    padding: 90px 0 120px 0;
}
.ourprojects__title {
    font-size: 3em;
    margin: 0 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--gray-soft);
    position: relative;
}
.ourprojects__title a {
    display: inline-block;
    margin: 20px 0;
}
.ourprojects__cards--wrap {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.projectcard__text--wrap a {
    width: 200px;
}
.wrap__changeslide--projects {
    display: flex;
    gap: 25px;
    margin-top: 60px;
    align-items: center;
}
.project__index--location {
    font-size: 2em;
    color: var(--gray-solid);
}
.wrap__changeslide--projects button {
    width: 55px;
    height: 55px;
    border: 1px solid var(--white-pure);
}
.ourproject__btn--previous {
    background-color: var(--white-pure);
}
.ourproject__btn--next {
    background-color: var(--white-pure);
}
/* todo: new version  */
.project__card {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    background-image: var(--bg-img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 20px 1px #0000006b;
    -webkit-box-shadow: 10px 10px 20px 1px #0000006b;
    -moz-box-shadow: 10px 10px 20px 1px #0000006b;
}
.card__layer {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    background: linear-gradient(180deg, #ffffff00 0%, #000000 99%);
}
.card__information {
    color: var(--white-pure);
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: inherit;
}
.card__column--nameAvatar{
    display: grid;
    grid-template-columns: 50px calc(100% - 60px);
    grid-gap: 10px;
    width: 100%;
    align-items: center;
}
.card__project--name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: grab;
    font-size: 22px;
    margin: 0 !important;
}
.card__project--price{
    color: var(--gray-soft);
    margin: 0 !important;
}
.creator__avatar--inprojects{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}
.card__information--button {
    border-radius: 10px;
    color: var(--white-pure);
    font-size: 10px !important;
    background-color: unset;
    cursor: pointer;
    transition: 300ms;
    display: block;
    float: right;
    border-radius: 5px !important;
}
.card__information--button:hover {
    color: var(--white-pure);
    background-color: unset;
}
.product__creator--explorer{

}
.show_full--name{
    white-space: pre-wrap !important;
}