* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
.wrap__ourprojects {
    width: 80%;
    margin: auto;
    padding: 90px 0 120px 0;
}
.ourprojects__title {
    font-size: 3em;
    margin: 0 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.ourprojects__title a {
    display: inline-block;
    margin: 20px 0;
}
.ourprojects__cards--wrap {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.projectcard__text--wrap a {
    width: 200px;
}
.wrap__changeslide--projects {
    display: flex;
    gap: 25px;
    margin-top: 60px;
    align-items: center;
}
.project__index--location {
    font-size: 2em;
    color: #bdbdbd;
}
.wrap__changeslide--projects button {
    width: 55px;
    height: 55px;
    border: 1px solid #f5f5f5;
}
.ourproject__btn--previous {
    background-color: #ffffff;
}
.ourproject__btn--next {
    background-color: #f9f9f9;
}
/* todo: new version  */
.project__card {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    background-image: var(--bg-img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 20px 1px #0000006b;
    -webkit-box-shadow: 10px 10px 20px 1px #0000006b;
    -moz-box-shadow: 10px 10px 20px 1px #0000006b;
}
.card__layer {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    background: linear-gradient(180deg, #ffffff00 0%, #000000 80%);
}
.card__information {
    color: #eaeaea;
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: inherit;
}
.card__information h2 {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: grab;
}
#creator__avatar--inprojects{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    outline: 3px solid #eaeaea;
}
.card__information--button {
    outline: 2px solid;
    border-radius: 10px;
    color: #eaeaea;
    background-color: unset;
    cursor: pointer;
    padding: 10px;
    transition: 300ms;
    display: block;
    float: right;
}
.card__information--button:active {
    color: black;
    background-color: #eaeaea;
}
.product__creator--explorer{

}
.show_full--name{
    white-space: pre-wrap !important;
}