/* todo -> Do not delete if change code structure */
.field__editAndBack {
    display: flex;
    position: relative;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
    gap: 20px;
}
/* todo >-----------------------------------------< */
#button__project--save {
    display: none;
}
.project__viewport {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 76% 1fr;
    grid-gap: 25px;
}
.project__body--left {
    border: 1px solid var(--gray-soft);
    border-radius: var(--border-radius-small);
}
.project__header--left {
    width: 100%;
    height: 130px;
    display: flex;
    padding: 25px;
    gap: 20px;
}
.project__header--left .user__avatar {
    width: 200px;
    object-fit: cover;
}
.user__infor--combo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project__navigate--combo {
    height: 65px;
    display: flex;
    align-items: baseline;
    border: solid var(--gray-soft);
    border-width: 1px 0 1px 0;
    padding: 0 25px;
    gap: 30px;
}
.project__navigate--combo button {
    width: fit-content;
    cursor: pointer;
    height: 100%;
    background-color: unset;
    border: unset;
    font-size: 17px;
}
#project__showProject--information {
    border-bottom: 5px solid var(--gray-solid);
}
#project__content--information {
    display: grid;
    grid-template-columns: 1fr 270px;
    padding: 25px;
    grid-gap: 30px;
}
#author__projects--all {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}
.project__title--combo {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 10px;
}
#leftContent__project--title {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    background-color: transparent;
    border: unset;
    outline: unset;
    resize: unset;
    height: 45px;
}
#leftContent__project--title.edit {
    outline: 1px solid var(--gray-soft);
    padding: 5px;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}
#leftContent__project--type {
    border: unset;
    outline: unset;
    transform: translateX(-5px);
}
#leftContent__project--type.edit {
    outline: 1px solid var(--gray-soft);
    cursor: pointer;
    padding: 5px;
    transform: translateX(0);
}
#leftContent__project--description {
    width: 100%;
    text-align: justify;
    background-color: transparent;
    margin-bottom: 10px;
    border: unset;
    outline: unset;
    resize: unset;
    height: 300px;
    overflow: scroll;
}
#leftContent__project--description.edit {
    outline: 1px solid var(--gray-soft);
    padding: 5px;
    resize: vertical;
    min-height: 400px;
    max-height: 800px;
}
#project__image--big {
    width: 100%;
    object-fit: cover;
}
#project__image--big.edit {
    outline: 1px solid var(--gray-soft);
    padding: 5px;
    border: unset;
}
#project__price--view {
    border: unset;
    outline: unset;
    background-color: unset;
}
#project__price--view.edit {
    outline: 1px solid var(--gray-soft);
    padding: 5px;
}
#project__address--view {
    border: unset;
    outline: unset;
    background-color: unset;
    min-height: 100px;
    max-height: 300px;
    resize: unset;
}
#project__address--view.edit {
    outline: 1px solid var(--gray-soft);
    padding: 5px;
    resize: vertical;
}
#project__area--view {
    border: unset;
    outline: unset;
    background-color: unset;
}
#project__area--view.edit {
    outline: 1px solid var(--gray-soft);
    padding: 5px;
}
#project__tip--view {
    border: unset;
    outline: unset;
    background-color: unset;
}
#project__tip--view.edit {
    outline: 1px solid var(--gray-soft);
    padding: 5px;
}
#leftContent__projectAdd--title,
#leftContent__projectAdd--description,
#project__address--add {
    border: unset;
    outline: 1px solid var(--gray-soft);
    background-color: var(--white-pure);
    padding: 5px;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
}
#leftContent__projectAdd--type,
#project__projectAddimage--big,
#project__area--add,
#project__tip--add,
#project__price--add {
    border: unset;
    outline: 1px solid var(--gray-soft);
    background-color: var(--white-pure);
    padding: 5px;
    width: 100%;
}
.div__embed--fixed {
    width: 270px;
}
.project__content--right {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 500ms linear;
}
.project__information--detail p:first-of-type {
    font-weight: bold;
}
.project__content--right .button__add--cart {
    width: inherit;
    height: 60px;
    border: unset;
    font-weight: bold;
    font-size: 17px;
    background-color: var(--gray-soft);
}
.project__body--right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--gray-soft);
    padding: 25px 15px;
    border-radius: var(--border-radius-small);
}
#projectAdd__demo--image {
    border: 1px solid var(--gray-soft);
    border-radius: var(--border-radius-small);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project__information--detail,
.user__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user__contact p:first-of-type:not(#user__country--name) {
    font-weight: bold;
}
.projectAdd__information--detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.required__star::after {
    content: " *";
    color: var(--red-pure);
}
.user__country--combo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user__country--combo #user__country--flag {
    width: 40px;
}
/* todo: all projects tab */
.card__allProjects--combo {
    width: 100%;
    height: 170px;
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-gap: 10px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid var(--gray-soft);
}
.button__allProject--config {
    width: 100%;
}
.check__element--isIncart {
    position: absolute;
    right: 0;
    top: 0;
}
.check__element--isIncart ion-icon[name="bag-check-outline"] {
    color: green;
    font-size: 20px;
}
.image__allProjects--thumbnail {
    width: inherit;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}
.title__allProject--combo {
    width: 90%;
}
.name__allProjects {
    margin: unset;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.information__allProjects {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 50px 95px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description__allProjects {
    height: 100%;
    overflow: scroll;
    border: solid var(--gray-soft);
    border-width: 1px 0 1px 0;
}
.description__allProjects::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.description__allProjects--texts {
    height: inherit;
    text-align: justify;
}

.button__normal {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    border-radius: var(--small-radius);
    padding: 5px 10px;
    box-sizing: border-box;
}
